name: Cypress Tests
on: [push]
jobs: 
  cypress-run:
    runs-on: windows-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v2.7.0
      - name: Cypress.io
        uses: cypress-io/github-action@v5.5.1
        with: 
          start: npm start 
